# Label Encoding

In [8]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [9]:
Label Encoding
In this encoding, each category is assigned a value from 1 through N 
(where N is the number of categories for the feature.
One major issue with this approach is there is no relation
or order between these classes, 
but the algorithm might consider them as some order or some relationship. 
In below example it may look like (Cold<Hot<Very Hot<Warmâ€¦.0 < 1 < 2 < 3 ) .
Scikit-learn code for the data-frame as follows:

SyntaxError: invalid syntax (2367629846.py, line 1)

In [10]:
data = {'Temperature':['Hot','Cold','Very Hot','Warm','Hot','Warm','Warm','Hot','Hot','Cold'],
       'Color':['Red','Yellow','Blue','Blue',"Red",'Yellow','Red','Yellow','Yellow','Yellow'],
       'Target':[1,1,1,0,1,0,1,0,1,1]}

In [11]:
df = pd.DataFrame(data,columns = ["Temperature","Color","Target"])
df

  Temperature   Color  Target
0         Hot     Red       1
1        Cold  Yellow       1
2    Very Hot    Blue       1
3        Warm    Blue       0
4         Hot     Red       1
5        Warm  Yellow       0
6        Warm     Red       1
7         Hot  Yellow       0
8         Hot  Yellow       1
9        Cold  Yellow       1

In [12]:
df['Temp_label_encoded'] = LabelEncoder().fit_transform(df.Temperature)
df

  Temperature   Color  Target  Temp_label_encoded
0         Hot     Red       1                   1
1        Cold  Yellow       1                   0
2    Very Hot    Blue       1                   2
3        Warm    Blue       0                   3
4         Hot     Red       1                   1
5        Warm  Yellow       0                   3
6        Warm     Red       1                   3
7         Hot  Yellow       0                   1
8         Hot  Yellow       1                   1
9        Cold  Yellow       1                   0

In [13]:
df.loc[:,"Temp_label_encoded"] = pd.factorize(df['Temperature'])[0].reshape(-1,1)
df

  Temperature   Color  Target  Temp_label_encoded
0         Hot     Red       1                   0
1        Cold  Yellow       1                   1
2    Very Hot    Blue       1                   2
3        Warm    Blue       0                   3
4         Hot     Red       1                   0
5        Warm  Yellow       0                   3
6        Warm     Red       1                   3
7         Hot  Yellow       0                   0
8         Hot  Yellow       1                   0
9        Cold  Yellow       1                   1